/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #23293B;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #005486;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
body {
  margin: 0 auto;
  height: 100%;
  background-color: #D5F5E3;
}
@media (max-width: 800px) {
}
body h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 2% 2% 0;
}
body .top-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F7DC6F;
}
@media (max-width: 500px) {
  body .top-nav {
    flex-direction: column;
    text-align: center;
  }
}
body a {
  text-decoration: none;
  padding: 2%;
  margin: 2% 3%;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  body a {
    font-size: 2rem;
  }
}
body .btn {
  width: 10%;
  height: 3.5vh;
  font-size: 1.7rem;
  border-radius: 5px;
  background: #973FFF;
  color: #F6F7F8;
  margin-top: 3%;
  margin-right: 7%;
}
body .btn:hover {
  background-color: #F6F7F8;
  color: #973FFF;
}
@media (max-width: 800px) {
  body .btn {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  body .btn {
    width: 30%;
  }
}
body .btn:hover {
  background-color: #F6F7F8;
  color: #973FFF;
}
body .btn1 {
  width: 10%;
  height: 3.5vh;
  font-size: 1.7rem;
  border-radius: 5px;
  background: #973FFF;
  color: #F6F7F8;
  margin-top: 3%;
  margin-right: 7%;
  margin-right: 4%;
}
body .btn1:hover {
  background-color: #F6F7F8;
  color: #973FFF;
}
@media (max-width: 800px) {
  body .btn1 {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  body .btn1 {
    width: 30%;
  }
}
body .btn1:hover {
  background-color: #F6F7F8;
  color: #973FFF;
}
footer {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #AED6F1;
  border-top: 1px solid #973FFF;
}
footer span {
  color: #973FFF;
  margin-top: 8%;
}
.big-container {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 800px) {
  .big-container {
    max-width: 700px;
  }
}
.big-container header {
  width: 100%;
  height: 40%;
}
.big-container header b {
  font-weight: bolder;
}
.big-container header h3 {
  text-align: center;
  height: 8vh;
  margin: 4% 0;
  color: #005486;
  font-size: 3rem;
}
.big-container header .pic-wrapper {
  position: relative;
  width: 100%;
  color: #F6F7F8;
  text-align: center;
}
@media (max-width: 800px) {
  .big-container header .pic-wrapper {
    max-width: 700px;
  }
}
@media (max-width: 500px) {
  .big-container header .pic-wrapper {
    display: none;
  }
}
.big-container header .pic-wrapper h1 {
  position: absolute;
  z-index: 1;
}
.big-container header .pic-wrapper .topbkgrd {
  width: 100%;
}
@media (max-width: 800px) {
  .big-container header .pic-wrapper .topbkgrd {
    display: flex;
    overflow: hidden;
    max-width: 600px;
  }
}
@media (max-width: 500px) {
  .big-container header .pic-wrapper .topbkgrd {
    display: none;
  }
}
.big-container .middle-section {
  border-radius: 6px;
  background-color: #ACF1FF;
  width: 100%;
  height: 50vh;
}
.big-container .middle-section .buy-points {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}
.big-container .middle-section .buy-points ul {
  font-family: 'ubuntu', sans-serif;
  font-size: 2rem;
  margin-left: 12%;
}
.big-container .middle-section h3 {
  padding: 2%;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
}
.big-container .middle-section .administrators {
  width: 40%;
  height: 35vh;
  background-color: #FEF9E7;
  padding: 2%;
  border-radius: 3%;
  color: #005486;
}
.big-container .middle-section h4 {
  font-size: 2rem;
  text-align: center;
  color: #23293B;
  margin-bottom: 5%;
}
.big-container .middle-section .board-members {
  width: 40%;
  height: 35vh;
  background-color: #FEF9E7;
  padding: 2%;
  border-radius: 3%;
  color: #005486;
}
.big-container .middle-section .board-members h4 {
  font-size: 2rem;
  text-align: center;
  color: #23293B;
  margin-bottom: 5%;
}
.big-container .middle-section .board-members pink,
.big-container .middle-section .board-members .blue,
.big-container .middle-section .board-members .orange,
.big-container .middle-section .board-members .purple {
  position: absolute;
}
.big-container .middle-section .board-members .pink {
  z-index: 1;
  /* creates a new stacking context */
  top: 70px;
  left: 70px;
  background: #ef476f;
}
.big-container .middle-section .board-members .blue {
  z-index: 2;
  top: 100px;
  left: 100px;
  background: #118ab2;
}
.big-container .middle-section .board-members .green {
  z-index: 100;
  /* has no effect */
  background: #06d6a0;
}
.big-container .middle-section .board-members .orange {
  z-index: 3;
  height: 30%;
  width: 30%;
  background: #ffd166;
  font-size: 14px;
}
.big-container .middle-section .board-members .purple {
  z-index: 0;
  background: #8b5bd3;
  top: 40px;
  left: 40px;
}
.big-container .middle-section .board-members div {
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
  height: 150px;
  width: 150px;
}
.big-container .middle-section .text2 {
  width: 100%;
  height: 30%;
}
.big-container .aprons {
  width: 100%;
  height: 40vh;
  opacity: unset;
}
@media (max-width: 800px) {
  .big-container .aprons {
    display: none;
  }
}
.Ami {
  width: 100%;
  height: 33vh;
}
.Hunter {
  width: 100%;
  height: 33vh;
}
.Gris {
  width: 100%;
  height: 33vh;
}
.Mike {
  width: 100%;
  height: 33vh;
}
