/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #23293B;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #005486;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
body {
  margin: 0 auto;
  height: 100%;
  background-color: #D5F5E3;
}
@media (max-width: 800px) {
  body {
    margin: 0;
  }
}
body h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 2% 2% 0;
}
body .top-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F7DC6F;
}
@media (max-width: 500px) {
  body .top-nav {
    flex-direction: column;
    text-align: center;
  }
}
body a {
  text-decoration: none;
  padding: 2%;
  margin: 2% 3%;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  body a {
    font-size: 2rem;
  }
}
body .btn {
  width: 10%;
  height: 3.5vh;
  font-size: 1.7rem;
  border-radius: 5px;
  background: #973FFF;
  color: #F6F7F8;
  margin-top: 3%;
  margin-right: 7%;
}
body .btn:hover {
  background-color: #F6F7F8;
  color: #973FFF;
}
@media (max-width: 800px) {
  body .btn {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  body .btn {
    width: 30%;
  }
}
body .btn:hover {
  background-color: #F6F7F8;
  color: #973FFF;
}
body .btn1 {
  width: 10%;
  height: 3.5vh;
  font-size: 1.7rem;
  border-radius: 5px;
  background: #973FFF;
  color: #F6F7F8;
  margin-top: 3%;
  margin-right: 7%;
  margin-right: 4%;
}
body .btn1:hover {
  background-color: #F6F7F8;
  color: #973FFF;
}
@media (max-width: 800px) {
  body .btn1 {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  body .btn1 {
    width: 30%;
  }
}
body .btn1:hover {
  background-color: #F6F7F8;
  color: #973FFF;
}
footer {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #AED6F1;
  border-top: 1px solid #973FFF;
}
footer span {
  color: #973FFF;
  margin-top: 8%;
}
.big-container {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}
.big-container header {
  width: 100%;
  height: 40%;
}
@media (max-width: 500px) {
  .big-container header {
    margin: 0;
  }
}
.big-container header b {
  font-weight: bolder;
}
.big-container header h1 {
  text-align: center;
  height: 8vh;
  margin: 4% 0;
  color: #005486;
}
.big-container header .pic-wrapper {
  position: relative;
  width: 100%;
  color: #F6F7F8;
  text-align: center;
}
@media (max-width: 800px) {
  .big-container header .pic-wrapper {
    max-width: 700px;
  }
}
@media (max-width: 500px) {
  .big-container header .pic-wrapper {
    display: none;
  }
}
.big-container header .pic-wrapper .topbkgrd {
  width: 100%;
}
@media (max-width: 800px) {
  .big-container header .pic-wrapper .topbkgrd {
    display: flex;
  }
}
@media (max-width: 500px) {
  .big-container header .pic-wrapper .topbkgrd {
    display: none;
  }
}
.big-container .middle-section {
  border-radius: 6px;
  background-color: #ACF1FF;
  width: 100%;
  height: 50vh;
}
.big-container .middle-section h2 {
  text-align: center;
  padding: 3%;
}
.big-container .middle-section .buy-pts-crd {
  display: flex;
  max-width: 100%;
  height: 100%;
}
.big-container .middle-section .flip-card {
  background-color: transparent;
  width: 40%;
  height: 30vh;
  perspective: 30vw;
}
.big-container .middle-section .flip-card-inner {
  width: 50%;
  height: 30vh;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.big-container .middle-section .flip-card-inner ul {
  font-family: 'ubuntu', sans-serif;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 17%;
}
.big-container .middle-section .flip-card-front {
  width: 25%;
  height: 30vh;
  background-color: #FEF9E7;
  padding: 2%;
  border-radius: 3%;
  color: #005486;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  text-align: center;
}
.big-container .middle-section .flip-card-front h4 {
  font-size: 2rem;
  text-align: center;
  color: #F6F7F8;
  background-color: #973FFF;
  border-radius: 6px;
}
.big-container .middle-section .flip-card-back {
  background-color: #973FFF;
  padding: 2%;
  border-radius: 3%;
  color: #F6F7F8;
  font-size: 1.6rem;
  transform: rotateY(180deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  text-align: center;
}
.big-container .middle-section .flip-card-back h4 {
  font-size: 1.7rem;
  text-align: center;
  color: #23293B;
  padding-bottom: 4%;
  background-color: #F6F7F8;
  border-radius: 6px;
  margin-bottom: 25%;
}
.big-container .middle-section .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.big-container .middle-section .flip-card-front,
.big-container .middle-section .flip-card-back {
  position: absolute;
  width: 100%;
  height: 30vh;
  backface-visibility: hidden;
}
.big-container .middle-section .flip-card2 {
  background-color: transparent;
  width: 40%;
  height: 30vh;
  perspective: 30vw;
  left: 50%;
}
.big-container .middle-section .flip-card2 .flip-card-inner2 {
  width: 50%;
  height: 30vh;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.big-container .middle-section .flip-card2 .flip-card-inner2 ul {
  font-family: 'ubuntu', sans-serif;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 17%;
}
.big-container .middle-section .flip-card2 .flip-card-inner2 .flip-card-front2 {
  height: 30vh;
  background-color: #FEF9E7;
  padding: 2%;
  border-radius: 3%;
  color: #005486;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  text-align: center;
}
.big-container .middle-section .flip-card2 .flip-card-inner2 .flip-card-front2 h4 {
  font-size: 2rem;
  text-align: center;
  color: #F6F7F8;
  background-color: #973FFF;
  border-radius: 6px;
}
.big-container .middle-section .flip-card2 .flip-card-inner2 .flip-card-front2 .clr-chg-frt {
  background-color: #F7DC6F;
  color: #973FFF;
  height: 6vh;
}
.big-container .middle-section .flip-card2 .flip-card-inner2 .flip-card-back2 {
  background-color: #973FFF;
  padding: 2%;
  border-radius: 3%;
  color: #F6F7F8;
  font-size: 1.6rem;
  transform: rotateY(180deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  text-align: center;
}
.big-container .middle-section .flip-card2 .flip-card-inner2 .flip-card-back2 h4 {
  font-size: 1.7rem;
  text-align: center;
  color: #23293B;
  padding-bottom: 4%;
  background-color: #F6F7F8;
  border-radius: 6px;
  margin-bottom: 25%;
}
.big-container .middle-section .flip-card2 .flip-card-inner2 .flip-card-back2 .clr-chg-bk {
  background-color: #F7DC6F;
}
.big-container .middle-section .flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}
.big-container .middle-section .flip-card-front2,
.big-container .middle-section .flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 30vh;
  backface-visibility: hidden;
}
.big-container .middle-section .text2 {
  width: 100%;
  height: 30%;
}
.big-container .aprons {
  width: 100%;
  height: 40vh;
  opacity: unset;
}
@media (max-width: 800px) {
  .big-container .aprons {
    display: none;
  }
}
.Ami {
  width: 100%;
  height: 33vh;
}
.Hunter {
  width: 100%;
  height: 33vh;
}
.Gris {
  width: 100%;
  height: 33vh;
}
.Mike {
  width: 100%;
  height: 33vh;
}
