
  footer {
    height: 12vh;
    width: 100%;
    display: flex; 
    justify-content: center;
    background-color: #AED6F1;
    border-top: 1px solid @lt-purple;
    span {
        color: @lt-purple;
        margin-top: 8%;
        
        
    }

        
   
        
    
  
}//closes footer