
  
.big-container {
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    header {

        width: 100%;
        height: 40%;
            
    
        b {
            font-weight: bolder;
            }
        h3 {
            text-align: center;
            height: 8vh;
            margin: 4% 0;
            color: @lt-purple;
            font-size: 3rem;;
    
                    // background-color: @nav-bg;
        }//closes h3
        .pic-wrapper {
            position: relative;                   
            width: 100%;
            color: @porcelain;
            text-align: center;
            h1 {
                position: absolute;
                z-index: 1                     
            }//closes H1           
                .topbkgrd {
                    width: 100%;       
                }//closes topbkgrd
                                   
        }//closes pic wrapper
    }//closes header 
  .middle-section {
        border-radius: 6px;
        background-color: @cyan;
        width: 100%;
        height: 50vh;
        background-color: @cyan;
        .buy-points {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 60%;
            ul {
                font-family: 'ubuntu', sans-serif;
                font-size: 2rem;;
            }
            
        }
        
        h3 {
            padding: 2%;
            text-transform: uppercase;
            text-align: center;
            font-weight: bolder;
        }//closses h3
        .administrators {
            width: 40%;
            height: 35vh;
            background-color: @porcelain;
            padding: 2%;
            border-radius: 3%;
            color: @darkslategray;
        }//closes administrator
        h4 {
            font-size: 2rem;
            text-align: center;
            color: @ebony-clay;
        }
        .board-members {
            width: 40%;
            height: 35vh;
            background-color: @porcelain;
            padding: 2%;
            border-radius: 3%;
            color: @darkslategray;
            p {
                
            }
            .outter-box {
                
            }
                h4 {
                    font-size: 2rem;
                    text-align: center;
                    color: @ebony-clay;
                }

                
        }//closes board members
        
         
            .text2 {
                width: 100%;
                height: 30%;
            }//close T2
  }//closes middle-section    
    .testimonial-wrapper {
        width:100%;
        height: 30vh;
        padding: 4% 0;
        .testimls {
            width: 100%;
            height: 15vh;
            display: flex;
        }//closes testimls

            h2 {
                width: 35%;
                font-weight: 400;
                color: @lt-purple;

        }//closes h2
            .inner {
                align-items: flex-end;
                width: 70%;
               
            }//closes inner
            h4 {
                width: 100%;
                font-size: 2rem;
                margin-left: 10%;
                height: 100%;
                
        }//closes h4    
    }//closes testimonial-wrapper


    .use-media {
        
       
        width: 25%;
        height: 25vh;
        background-color: @cyan;
        border: 1px dashed @lt-purple;
        form {
            // margin: 30% 0 15% 0;
            

            
        }
      
       
    footer {
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: center;
        margin: 5%;
            
        .wrapper {
            padding: 10%;
            
    
        }//wrapper
    }//closes footer
    }//closes use media

}//closes container