//custom button
@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.custom-btn(@btn-txt-color, @btn-bg-color) {
    width: 40%;
    height: 1vh;
    font-size: 1.5rem;
    border-radius: 5px;
    background: @btn-bg-color;
    color: @btn-txt-color;
    margin-top: 50%;
    margin-right: 7%;
    
    
    &:hover{
        background-color: @btn-txt-color;
        color: @btn-bg-color;
    }
    @media@tablet {
        font-size: 1rem;
    }
    @media@phone {
        width: 40%;
        
    }

}