/////Team Page/////////////////////////


.container {
    max-width: 900px;
}

.Ami {
    width: 100%;
    height: 1875%;
    border: 1px solid gray;
    .Abio {
        width: 47%;
    }
    

}
.Hunter {
    width: 100%;
    height: 1875%;
    border: 1px solid gray;
    
    
}
.Gris {
    width: 100%;
    height: 1875%;
    border: 1px solid gray;
    
  

} 
.Mike {
    width: 100%;
    height: 1875%;
    border: 1px solid gray;
    
}