// Variables

// Color pointers
@nav-bg: #FCB614
@nav-font: 
@nav-border: #973FFF

@header-font-color: 
@main-font-color: 
@main-border-color: 

@footer-background: 
@footer-font-color: 

// Color Vars



// Mobile var
@phone: ~ '(max-width: 500px)';
@phone: ~ '(max-width: 800px)';